@model List<MvcOnlineTicariOtomasyon.Models.Classes.Hareketler.SatisHareket>
@{
    ViewData["Title"] = "Siparislerim";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<h2>Sipariş Geçmişim</h2>

<table class="table table-bordered">
    <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Tarih</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Urun.UrunAdi</td>
            <td>@x.Fiyat</td>
            <td>@x.Tarih.ToShortDateString()</td>
        </tr>
    }

</table>