@using MvcOnlineTicariOtomasyon.Models.Classes

@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Kategori>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div style="margin:20px">
    <table class="table table-bordered">
        <tr>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var k in Model)
        {
            <tr>
                <td>
                    @k.KategoriAd
                </td>
                <td><a href="/Kategori/KategoriSil/@k.KategoriId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Kategori/KategoriGetir/@k.KategoriId" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>

    <!-- #PagedList-->
    @Html.PagedListPager(
     (X.PagedList.IPagedList)Model,
     sayfa => Url.Action("Index", new { sayfa }),
     new PagedListRenderOptions
     {
         LiElementClasses = new string[] { "page-item" },
         PageClasses = new string[] { "page-link" }
     })
    <!-- #PagedList -->

    <a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>
</div>

