@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<Personel>
@{
    ViewData["Title"] = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Departman Detay Sayfası</h1>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman Adı: @ViewBag.Dpt</li>
</ol>
<table class="table table-hover">
    <tr>
        <th>Ad Soyad</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelAd @x.PersonelSoyad</td>
            <td><a href="/Departman/DepartmanPersonelSatis/@x.PersonelId" class="btn btn-outline-success">Satışlar</a></td>
        </tr>
    }
</table>

