@{
    ViewData["Title"] = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Departman Detay Sayfası</h1>
<br />
<div style="background-color:lightgrey">
    deneme

</div>
<br />
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ali</td>
        <td>Bulut</td>
        <td>1test</td>
        <td><a href="#" class="btn btn-info" >Satışlar</a></td>
    </tr>
    <tr>
        <td>1</td>
        <td>Ali</td>
        <td>Bulut</td>
        <td>1test</td>
        <td><a href="#" class="btn btn-info">Satışlar</a></td>
    </tr>
</table>

